In [195]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from datetime import datetime

In [15]:
now = datetime.now()
now
now.year, now.month, now.day
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta
delta.days
delta.seconds
from datetime import timedelta
start = datetime(2011, 1, 7)
(start + timedelta(12))
start - timedelta(12) * 2

datetime.datetime(2010, 12, 14, 0, 0)

In [45]:
stmap = datetime(2011, 1, 3)
str(stmap)
stmap.strftime('%Y-%m-%d')
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')
datastrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datastrs]
from dateutil.parser import parse
parse('2011-01-03')
parse('6/12/2011', dayfirst = True)
datastrs
pd.to_datetime(datastrs)
idx = pd.to_datetime(datastrs + [None])
idx[2]
pd.isnull(idx)#   NAT: not a time

array([False, False,  True])

In [55]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
        datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = Series(np.random.randn(6), index = dates)
ts
type(ts)
ts.index
ts + ts[::2]
ts.index.dtype
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [70]:
stmap = ts.index[2]
ts[stmap]
long_ts = Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 1000))
long_ts['2001']
long_ts['2001-05']
long_ts
ts[datetime(2011, 1, 7): ]
dates = pd.date_range('1/1/2000', periods = 100, freq = 'W-WED')
long_df = DataFrame(np.random.randn(100, 4), index = dates,
                   columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.671220  0.465921  1.101165  1.607071
2001-05-09  0.446333 -0.666087  0.230365 -0.560538
2001-05-16 -0.206043 -0.629436  2.017992  1.299331
2001-05-23 -1.032469 -0.705715  0.469092  0.665066
2001-05-30  0.087775  0.545092  0.240156  0.286063

In [83]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = Series(np.arange(5), index = dates)
dup_ts
dup_ts.index.is_unique
dup_ts['1/3/2000']
dup_ts['1/2/2000']
grouped = dup_ts.groupby(level = 0)
grouped.count()
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [97]:
ts
ts.resample('D')
#   date_range: 默认产生频率为一天的Datetime
index = pd.date_range('4/1/2012', '6/1/2012')
index
pd.date_range(start = '4/1/2012', periods = 20)
pd.date_range(end = '6/1/2012', periods = 20)
pd.date_range('1/1/2000', '12/1/2000', freq = 'BM')
pd.date_range('5/2/2012 12:56:31', periods = 5)
pd.date_range('5/2/2012 12:56:31', periods = 5, normalize = True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [115]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour
four_hour = Hour(4)
four_hour
pd.date_range('1/1/2000', '1/3/2000 23:59', freq = '4h')
Hour(2) + Minute(30)
pd.date_range('1/1/2000', periods = 10, freq = '1h30min')
#pd.date_range('1/1/2000', '12/1/2000', freq = 'BM')
rng = pd.date_range('1/1/2012', '9/1/2012', freq = 'WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [138]:
ts = Series(np.arange(4), index = pd.date_range('1/1/2000', periods = 4, freq = 'M'))
ts
ts.shift(0)#   前移或后移数据
ts.shift(2, freq = 'M')
ts.shift(1, freq = '3D')

2000-02-03    0
2000-03-03    1
2000-04-03    2
2000-05-03    3
dtype: int64

In [155]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()
now + MonthEnd()
now + MonthEnd(2)
offset = MonthEnd()
offset.rollforward(now)
offset.rollback(now)
ts = Series(np.random.randn(20), index = pd.date_range('1/15/2000', 
                                                      periods = 20, freq = '4d'))
ts.groupby(offset.rollforward).count()
ts.resample('M').count()

2000-01-31    5
2000-02-29    7
2000-03-31    8
Freq: M, dtype: int64

In [168]:
p = pd.Period(2007, freq = 'A-DEC')
p
p + 5
p - 2
pd.Period('2015', freq = 'A-DEC') - p
rng = pd.period_range('1/1/2000', '6/30/2000', freq = 'M')
rng#   任何pandas数据结构中被用作轴索引
Series(np.random.randn(6), index = rng)
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq = 'Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [194]:
p = pd.Period('2007', freq = 'A-DEC')
p.asfreq('M', how = 'start')
p.asfreq('M', how = 'end')
p = pd.Period('2007', freq = 'A-FEB')
p.asfreq('M', 'start')
p.asfreq('M', 'end')
p = pd.Period('2007-08', 'M')
p.asfreq('A-JUN')
rng = pd.period_range('2006', '2009', freq = 'A-DEC')
ts = Series(np.random.randn(len(rng)), index = rng)
ts
ts.asfreq('M', how = 'start')
ts.asfreq('B', how = 'end')
ts.asfreq('D', how = 'end')

2006-12-31   -1.233523
2007-12-31   -0.994448
2008-12-31   -0.897854
2009-12-31    1.638099
Freq: D, dtype: float64

In [205]:
p = pd.Period('2012Q4', freq = 'Q-JAN')
p.asfreq('D', 'start')
p.asfreq('D', 'end')
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()
(p.asfreq('B', 'e') - 1)

Period('2012-01-30', 'B')

In [215]:
rng = pd.period_range('2011Q3', '2012Q4', freq = 'Q-JAN')
ts = Series(np.arange(len(rng)), index = rng)
ts
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [231]:
rng = pd.date_range('1/1/2000', periods = 3, freq = 'M')
ts = Series(np.random.randn(3), index = rng)
ts
pts = ts.to_period()
pts
rng = pd.date_range('1/29/2000', periods = 6, freq = 'D')
ts2 = Series(np.random.randn(6), index = rng)
ts2.to_period()
pts = ts.to_period()
pts
pts.to_timestamp(how = 'end')

2000-01-31   -0.370796
2000-02-29   -0.823929
2000-03-31   -0.857267
Freq: M, dtype: float64

In [238]:
#   重采样，由一个频率到另一个频率
rng = pd.date_range('1/1/2000', periods = 100, freq = 'D')
ts = Series(np.random.randn(len(rng)), index = rng)
ts.resample('M').mean()
ts.resample('M', kind = 'period').mean()

2000-01   -0.095281
2000-02   -0.031521
2000-03    0.127468
2000-04   -0.087746
Freq: M, dtype: float64

In [246]:
rng = pd.date_range('1/1/2000', periods = 12, freq = 'T')
ts = Series(np.arange(12), index = rng)
ts
ts.resample('5min').sum()
ts.resample('5min', closed = 'left', label = 'left').sum()
ts.resample('5min', loffset = '-1s').sum()

1999-12-31 23:59:59    10
2000-01-01 00:04:59    35
2000-01-01 00:09:59    21
Freq: 5T, dtype: int64

In [258]:
frame = DataFrame(np.random.randn(2, 4), index = pd.date_range('1/1/2000', periods = 2, freq = 'W-WED'),
                 columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]
df_daily = frame.resample('D')
df_daily
frame.resample('D').ffill()
frame.resample('D', limit = 2).ffill()
frame.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [263]:
frame = DataFrame(np.random.randn(24, 4), index = pd.period_range('1-2000', '12-2001', freq = 'M'),
                 columns = ['Colorado', 'Texas', 'New York', 'Ohio'])
annual_frame = frame.resample('A-DEC').mean()
annual_frame
annual_frame.resample('Q-DEC').ffill()
# Q-MAR, A-MAR, A-JUN, A-SEP, A-DEC

        Colorado     Texas  New York      Ohio
2000Q1  0.155826  0.331194 -0.159113 -0.307987
2000Q2  0.155826  0.331194 -0.159113 -0.307987
2000Q3  0.155826  0.331194 -0.159113 -0.307987
2000Q4  0.155826  0.331194 -0.159113 -0.307987
2001Q1  0.297154  0.820413 -0.168817  0.131584
2001Q2  0.297154  0.820413 -0.168817  0.131584
2001Q3  0.297154  0.820413 -0.168817  0.131584
2001Q4  0.297154  0.820413 -0.168817  0.131584